#!/bin/sh

echo
echo " **************************ATTENTION***************************"
echo " **************************ATTENTION***************************"
echo " **************************ATTENTION***************************"
echo " **************************ATTENTION***************************"
echo " * Este servidor fue configurado utilizando ansible."
echo " * Para hacer cualquier cambio, por favor hagalo en codigo"
echo " * POR FAVOR NO CAMBIE NADA A MANO. GRACIAS"
echo " **************************ATTENTION***************************"
echo " **************************ATTENTION***************************"
echo " **************************ATTENTION***************************"
echo " **************************ATTENTION***************************"
echo
