---

  - name: Aseguramos que python esta isntalado
    apt: name=python3-pip state=present update_cache=yes
    tags:
     - awscli

  - name: Instalamos awscli
    shell: pip install -U awscli
    tags:
     - awscli
