---

- name: Replace apache security vars
  ansible.builtin.lineinfile:
    path: /etc/apache2/conf-enabled/security.conf
    regexp: '^{{ item.split(" ")[0] }}'
    line: '{{ item }}'
    owner: root
    group: root
    mode: '0644'
  with_items: "{{ apache_security_config }}"


- name: Copy apache2 doppler-shopify vhosts
  copy: src=doppler-shopify.conf dest=/etc/apache2/sites-enabled/doppler-shopify.conf